DirectoryIndex /web/index.php

<IfModule mod_expires.c>
  ExpiresActive On
  ############################################
  ## Add default Expires header
  ## http://developer.yahoo.com/performance/rules.html#expires
  <FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
	ExpiresDefault "access plus 1 year"
  </FilesMatch>
</IfModule>

< IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} !^/web/
    RewriteRule (.*) /web/?$1

</IfModule>

< IfModule !mod_rewrite.c>
    < IfModule mod_alias.c>
        # When mod_rewrite is not available, we instruct a temporary redirect of
        # the start page to the front controller explicitly so that the website
        # and the generated links can still be used.
        RedirectMatch 302 ^/$ /web/index.php/
        # RedirectTemp cannot be used instead
    </IfModule>
</IfModule>