{% extends 'template.html.twig' %}

{% block title %}Cole&ccedil;&atilde;o{% endblock %}

{% block content %}

    <header class="intro-header" style="background-image: url('{{ asset(app['background.default']) }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Cole&ccedil;&atilde;o</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}