{% extends "template.html.twig" %}

{% block content %}
    <header class="intro-header" style="background-image: url('{{ asset(app['background.default']) }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{ code }} - Um erro ocorreu no servidor.</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2>Um erro ocorreu no servidor.</h2>
                <p>{{ erro }}</p>
            </div>
        </div>
    </div>
{% endblock %}
