{% extends 'template-login-new.html.twig' %}

{% block title %}Redefinicao de Senha{% endblock %}

{% block header %}

    <section id="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="block wow fadeInUp" data-wow-delay=".3s">
                        <section class="cd-intro">
                            <div class="login-box">

                                <div class="login-logo">
                                    <a href="/"><b>{{ app.blog.nome }}</b></a>
                                </div>

                                <div class="register-box-body" style={StyleForm}>
                                    <p class="login-box-msg">Redefinir Senha</p>

                                    <form method="post" id="form">
                                        <div class="form-group has-feedback">
                                            <input class="input " type="text" value="{{ email }}" name="email" placeholder="E-mail" id="email" required/>
                                            <span class="glyphicon glyphicon-envelope form-control-feedback "></span>
                                        </div>
                                        <div class="form-group has-feedback" id="div-password">
                                            <input class="input " type="password" autoFocus="autoFocus" name="password" onChange="handlePassLength()" placeholder="Senha" id="password"
                                                   required/>
                                            <span class="help is-danger"></span>
                                            <span class="glyphicon glyphicon-log-in form-control-feedback "></span>
                                        </div>
                                        <div class="form-group has-feedback" id="div-password-confirm">
                                            <input class="input " type="password" name="password_confirm" onChange="handleConfirmPass()" placeholder="Confirme a senha"
                                                   id="password_confirm" required/>
                                            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <a href="/" class="button is-primary is-outlined is-fullwidth">Inicio</a>
                                            </div>
                                            <div class="col-xs-6">
                                                <button type="submit" id="btnSubmit" class="button is-success is-outlined is-fullwidth">Salvar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block js %}

<script>

    $(document).ready(function () {

        $("form").submit(handleForm);

    })

    function handleForm(e) {
        e.preventDefault();

        var email = $("#email").val();
        var password = $("#password").val();
        var password_confirm = $("#password_confirm").val();


        if (!email) {
            $("#email").focus();
            $("#email").addClass("is-danger");
            alertify.error("Deve Informar o E-mail");
            return false;
        }

        $("#email").removeClass("is-danger");

        if (!password) {
            $("#password").focus();
            $("#password").addClass("is-danger");
            alertify.error("Deve Informar uma senha");
            return false;
        }

        $("#password").removeClass("is-danger");

        if (password != password_confirm) {
            $("#password").addClass("is-danger");
            $("#password_confirm").addClass("is-danger");
            alertify.error("As Senhas n&atilde;o s&atilde;o iguais.");
            return false;
        }

        $("#password").removeClass("is-danger");
        $("#password_confirm").removeClass("is-danger");

        $("#btnSubmit").addClass("is-loading");

        block_screen();

        $.ajax({
            type: 'POST',
            url : "/forgotten-password/save",
            data : $("#form").serialize(),
            cache: false,
            success: function (data) {

                $.ajax({
                    type: 'POST',
                    url : "/admin/login_check",
                    data : {
                        _username : email,
                        _password : password
                    },
                    cache: false,
                    success: function (data) {
                        window.location.href = '/user/';
                        return false;
                    },
                    error: function () {
                        unblock_screen();
                        $("#btnSubmit").removeClass("is-loading");
                        alertify.error("opss, algo deu errado...");
                        return false;
                    }
                });

            },
            error: function () {
                unblock_screen();
                $("#btnSubmit").removeClass("is-loading");
                alertify.error("opss, algo deu errado...");
            }
        })
    }

    function handlePassLength() {

        if (0 < $("#password").val().length() && 6 > $("#password").val().length()) {
            $("#password").addClass("is-danger");
            $("#div-password > .help").text("Sua Senha deve conter mais de 6 caracteres.");
        } else {
            $("#password").removeClass("is-danger");
            $("#password").addClass("is-success");
            $("#div-password > .help").text("");
        }
    }

    function handleConfirmPass() {

        if ($("#password_confirm").val().length() != $("#password").val()) {
            $("#password_confirm").addClass("is-danger");
        } else {
            $("#password_confirm").removeClass("is-danger");
            $("#password_confirm").addClass("is-success");
        }
    }




</script>

{% endblock %}
