{% extends 'template-login-new.html.twig' %}

{% block title %}Redefinicao de Senha{% endblock %}

{% block header %}

    <div id="forgotten"
         data-background="{{ app.config.background }}"
         data-dir-img="{{ app['dir.img'] }}"
         data-app="{{ app.blog.nome }}"
         data-email="{{ email }}"></div>

{% endblock %}
