{% extends 'template-login-new.html.twig' %}

{% block title %}Login{% endblock %}

{% block header %}

    <div id="login"
         data-app="{{ app.blog.nome }}"
         data-post="{{ path('login_check') }}"
         data-error="{{ error }}"
         data-last-user-name="{{ last_username }}"
    ></div>

{% endblock %}