{% extends 'template-login-new.html.twig' %}

{% block title %}Login{% endblock %}

{% block header %}

    <div id="register"
         data-background="{{ app['config'].background }}"
         data-dir-img="{{ app['dir.img'] }}"></div>
    <script src="{{ asset(app['dir.base'] ~ 'assets/build/register.js') }}"></script>

{% endblock %}
