{% extends 'base-new.html.twig' %}

{% block title %}{{ app['nome.blog'] }}{% endblock %}

{% block stylesheet %}{% endblock %}

{% block body %}

    {% block header %}

        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block wow fadeInUp animated slide" data-wow-delay=".6s">
                            <h2>{% block headerNome %}{% endblock %}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}

    {% block content %}{% endblock %}

    <footer id="footer">
        <div class="container">
            <div class="col-md-8">
                <p class="copyright">Copyright: <b>{{ app['nome.blog']}}</b> <span>2017</span></p>
            </div>
            <div class="col-md-4">
                <ul class="social">
                    <li>
                        <a class="button is-link" href="http://www.radiomaanaim.com.br/">Acesse a Rádio Maanaim</a>
                    </li>
                    <li>
                        {{ app.about }}
                    </li>
                </ul>
            </div>
        </div>
    </footer>
{% endblock %}