{% extends 'template-login-new.html.twig' %}

{% block title %}Redefinicao de Senha{% endblock %}

{% block header %}

    <section id="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="block wow fadeInUp" data-wow-delay=".3s">
                        <section class="cd-intro">

                            <div class="login-box">

                                <div class="login-logo">
                                    <a href="/"><b>{{ app.blog.nome }}</b></a>
                                </div>

                                <div class="tile">
                                    <div class="tile is-parent is-vertical">
                                        <article class="tile is-child  notification is-danger">
                                            <p class="lead">{{ mensagem }}.</p>
                                        </article>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <a href="/request-new-conformation-code" class="button is-success is-fullwidth">Solicitar novo código de acesso</a>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
