{% extends 'template-new.html.twig' %}

{% block title %}Sobre{% endblock %}

{% block header %}{{ parent() }}{% endblock %}

{% block headerNome %}Sobre{% endblock %}

{% block content %}

    <article>
        <div class="container wow fadeInUp animated slide" data-wow-delay=".6s">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{ app['about'] }}
                </div>
            </div>
        </div>
    </article>

{% endblock %}