{% extends 'template-new.html.twig' %}

{% block title %}Arquivos - Adicionar{% endblock %}

{% block headerNome %}Adicionar Arquivos{% endblock %}

{% block content %}
    <div id="anexos-adicionar"></div>
{% endblock %}