{% extends 'template-new.html.twig' %}

{% block title %}Categoria{% endblock %}

{% block headerNome %}Nova Categoria{% endblock %}

{% block content %}
    <div id="categoria-adicionar" data-colecao="{{ colecao }}"></div>
{% endblock %}