{% extends 'template-new.html.twig' %}

{% block title %}Favoritos{% endblock %}

{% block headerNome %}Favoritos{% endblock %}

{% block content %}

    <div id="favoritos"
         data-source="{{ path('api_user_favorites') }}"
         data-user="{{ app.usuario.roles }}"></div>

{% endblock %}