{% extends 'template-new.html.twig' %}

{% block title %}Musica{% endblock %}

{% block headerNome %}Nova Musica{% endblock %}

{% block content %}
    <div id="musica-adicionar" data-categoria="{{ categoria }}"></div>
{% endblock %}