<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<body style=" width: 550px; color: black; border-color: #E8E8E8;">

<div style="position: relative; width: 100%; -moz-border-radius: 4px; border-radius: 1px;
     line-height: 1.5; border: solid; border-width: 2px; border-color: #E8E8E8;  background: white;">

    <div style="background-color: #FF1945; padding: 0.5em 0.5em">
        <h2 style="color: white">Oi, <span style="font-weight: bold;">{{ nome }}</span></h2>
    </div>

    <div style="padding: 1em;">

        <p style="font-size: 16px; padding-left: 20px;">
            {{ mensagem|raw }}
        </p>


        <p style="font-size: 12px; margin-left: 10px;">
            {{ lema }}
        </p>

        <div style="text-align: center">
            <a href="https://coletaneaicm.com">
                <button style="height:28px; background: red;border: none;color: white;border-radius: 2px;cursor: pointer; width: 100%">
                    Acessar
                </button>
            </a>
        </div>

        <p style="font-size: 12px; margin-left: 10px;">
            <a style="color: red;" target="_blank" href="https://coletaneaicm.com"></a>
        </p>
    </div>

</div>
</body>
</html>

